
.questions-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center the content */
}


/* List of questions */
.questions-list {
  list-style-type: none;
  padding: 0;
}

.question-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title of the question */
.question-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.questions-title {
  font-size: 36px;
  color: #007bff; /* Primary color */
  margin-bottom: 40px;
  margin-left: 600px;
}

/* Body of the question */
.question-body {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

/* Action buttons for each question */
.question-actions {
  display: flex;
  justify-content: flex-end;
}

.question-actions button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-actions button:hover {
  background-color: #0056b3;
}



.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

.modal-title {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
